/* Layout */
@import url("../fonts/stylesheet.css");

body {
  width: 100%;
  background-image: url('../img/bg-map.png');
  background-size: cover;
}

.testing-for-junwen {
  font-family: 'focobold', sans-serif;
  /*  use the following: 
      font-family: 'focobold';
      font-family: 'focoblack';
      font-family: 'focolight';
      font-family: 'focoregular'; */
}

.container {
padding: 0px 10px;
width: 100%;
}


/* Check In section */

.check-in-holder {
  text-align: center;
  width: 100%;
  padding: 13px;
  border: 1px solid #ebebeb;
  position: fixed;
  bottom: 0;
  background-color: white;
}

.check-in-link:hover {
  text-decoration: none;
}

.check-in-button {
  font-family: "Pacifico";
  color: #fff;
  font-size: 1.7em;
  background-color: #db8c53;
  width: 100%;
  margin: 0px auto;
  border-radius: 4px;
  padding: 17px;
  -webkit-box-shadow: 0px 2px 0px 0px #d48146;
  -moz-box-shadow: 0px 2px 0px 0px #d48146;
  box-shadow: 0px 2px 0px 0px #d48146;
}

.check-in-button:hover {
  background-color: #d4854c;
}

/* Check In Pop Up */

.check-in-popup {
  width: 100%;
  opacity: 0.99;
}

.check-in-method {
  width: 50%;
  border: solid #ebebeb 1px;
  display: inline-block;
  text-align: center;
  padding: 50px 0px 45px;
}

.camera {
  float: left;
  background-color: #e2ece2;
  border-radius: 4px 0px 0px 4px;
}

.gallery {
  border-radius: 0px 4px 4px 0px;
  background-color: white;
}

.camera-icon {
  color: white;
}

.gallery-icon {
  color: #e2ece2;
}

.modal-header {
  border: none;
  padding-bottom: 0px;
}

.modal-body {
  padding: 0px;
}
